name: Publish GH Pages
on:
  push:
    #tags:
    #- '*'
    branches:
    - "main"
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
      pages: write
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python 3.13
      uses: actions/setup-python@v5
      with:
        python-version: "3.13"
    - name: install poetry
      run: pip install poetry
    - name: install dependencies
      run: poetry install
    - name: venv bin
      run: export PATH="$PATH:$(poetry env info --path)/bin"
    - name: Install dependencies
      run: make github
    - name: publish
      run: make github
