name: Publish GH Pages
on:
  push:
    #tags:
    #- '*'
    branches:
    - "main"
jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      id-token: write
      pages: write
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Set up Python 3.13
      uses: actions/setup-python@v5
      with:
        python-version: "3.13"
    - name: install poetry
      run: pip install poetry
    - name: install dependencies
      run: poetry install
    - name: publish
      run: export PATH="$PATH:$(poetry env info --path)/bin"; echo "$PATH"; make github
